.contractlist {
  padding-top: 93px;
  padding-bottom: 100px;
  background: linear-gradient(180deg, #1677ff 270px, transparent 270px, transparent 100%);
}
.records {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
}
