html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-left: 10px;
}
.link {
  color: #1677ff;
}

.minerlist .g2-html-annotation {
  display: none !important;
}