.header {
  background: #ffffff;
}
.hRow {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    a {
      margin-left: 37px;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
    }
    a:hover {
      color: #1677ff;
    }
    .select {
      font-weight: 500;
      color: #1677ff;
    }
  }
}
