.TableFilter {
  margin-bottom: 8px;
}
.modalWrap {
  margin: 18px 18px;
}
.text1 {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 24px;
  text-align: center;
}
.text2 {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 0, 0, 0.85);
  margin-top: 4px;
  text-align: center;
}
.text3 {
  font-size: 14px;
  font-weight: 400;
  color: rgba(40, 40, 46, 0.85);
  margin-top: 4px;
  text-align: center;
}
